* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clubdetail-container {
  width: 100vw;

  .bg-image {
    height: 20vh;
    background-image: url("../images/club-backgroud.png");
    background-size: cover;
    position: relative;

    .icon {
      right: 4vw;
      top: 2vh;
      position: absolute;
    }

    .card {
      width: 100%;
      height: 90vh;
      top: 6vh;

      background-color: var(--beige);
      border-radius: 20% 20% 0 0 / 10% 10% 0 0;
      position: absolute;

      // 여기서부터 메인 시작!
      .main * {
        text-align: left;
      }
      .main {
        padding: 10%;

        .create-meeting-card {
          width: 100%;
          height: 70vh;
          background-color: var(--white);
          border-radius: 1rem;
          box-shadow: 0 0.4em 0.8em 0 rgba(142, 141, 208, 0.16);
        }
      }
    }
  }
}

.footer {
  width: 100%;
  left: 0;
  bottom: 0;
  position: fixed;
  text-align: center;
}
